@charset "UTF-8";
body{
  background-color: #808080;
}

#main{
  width: 960px;
  margin: 40px auto;
  padding: 40xp 80xp;
  border: #000000 1px solid;
  background-color: #ffffff;
}
.steps{
  float left;
}
dt{
  float: left;
  font-weight: bold;
}
