@charset "UTF-8";
body{
  background-color: #ffebcd;
  color: white;
}

#main{
  width: 960px;
  margin: 40px auto;
  padding: 40px 80px;
  border: #696969 1px solid;
  background-color: #000000;
}
.steps{
  float left;
  width: 468px;
}
dt{
  clear: left;
  float: left;
  font-weight: bold;
}
.photo{
  float:left;
  margin-riht: 30px;
}
.gohan_picture:after{
  content: "";
  clear: both;
  display:block;
  transform: rotate (90);
}
